<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profil</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
  <ion-avatar>
    <img alt="Silhouette of a person's head" src="../../assets/img/Aina Jirah.JPG" />
  </ion-avatar>
  <p>Aina Jirah</p>
  <p>Mahasiswa</p>
  <br>
  <a class="social-link" href="https://instagram.com/ainajirah?igshid=MzMyNGUyNmU2YQ==">@ainajirah</a>
  <a class="social-link" href="https://www.facebook.com/profile.php?id=100088151087231">Facebook</a>
</div>
</ion-content>